@font-face {
  font-family: "Exo";
  src: url("../assets/fonts/exo.woff2") format("woff2"), url("../assets/fonts/exo.woff") format("woff"); }
@font-face {
  font-family: "ExoLight";
  src: url("../assets/fonts/exoLight.woff2") format("woff2"), url("../assets/fonts/exoLight.woff") format("woff"); }
body {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/2.jpg") no-repeat top;
  background-size: cover;
  font-size: 16px; }

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }
  .loader__eva {
    align-self: center;
    width: 256px;
    height: 256px;
    background: url("../assets/images/evaPreload.png");
    position: relative; }
  .loader__leaves {
    width: 30px;
    height: 30px;
    background: url("../assets/images/small.png") no-repeat;
    position: absolute;
    border-radius: 50%;
    top: 45%;
    left: 50%;
    opacity: 0;
    transition: 1s; }
  .loader .shadowLeaves {
    transition: 1s;
    opacity: 1;
    -webkit-box-shadow: 0px -1px 62px 12px #1dc243;
    -moz-box-shadow: 0px -1px 62px 12px #1dc243;
    box-shadow: 0px -1px 62px 12px #1dc243; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  max-width: 1920px;
  position: relative; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin-top: -150px; }
  .menu__border {
    border: 10px solid transparent;
    border-image: url("../assets/images/border.png") 38% repeat;
    width: 200px;
    height: 100px; }
  .menu__lines {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 6px);
    padding: 5px 0; }
  .menu__link {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden; }
    .menu__link .text--left {
      width: 90%;
      padding: 10px;
      font-family: Exo;
      font-size: 1em;
      color: #fff;
      text-transform: uppercase;
      order: 1; }
    .menu__link .text--right {
      width: 90%;
      padding: 10px;
      font-family: Exo;
      font-size: 1em;
      color: #fff;
      text-transform: uppercase;
      order: 2; }
    .menu__link .arrow--left {
      width: 10%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.8);
      order: 2; }
      .menu__link .arrow--left .fa-arrow-left {
        color: #5c8dae; }
    .menu__link .arrow--right {
      width: 10%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.8);
      order: 1; }
      .menu__link .arrow--right .fa-arrow-right {
        color: #5c8dae; }
    .menu__link:hover {
      background: rgba(255, 255, 255, 0.9); }
      .menu__link:hover .text--left {
        order: 2;
        color: #5c8dae; }
      .menu__link:hover .text--right {
        order: 1;
        color: #5c8dae; }
      .menu__link:hover .arrow--left {
        order: 1;
        background: #5c8dae; }
        .menu__link:hover .arrow--left .fa-arrow-left {
          animation: blink .4s infinite ease; }
      .menu__link:hover .arrow--right {
        order: 2;
        background: #5c8dae; }
        .menu__link:hover .arrow--right .fa-arrow-right {
          animation: blink .4s infinite ease; }
  .menu__link:first-child {
    margin-bottom: 5px; }

@keyframes blink {
  0% {
    color: #5c8dae; }
  100% {
    color: rgba(255, 255, 255, 0.9); } }
#container {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 100; }

/*
.container__animate {
  -webkit-animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }

@keyframes slide-bottom {
  0% {
     -webkit-transform: translateY(-300px);
     transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

*/
.container__animate {
  -webkit-animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-bottom {
  0% {
    -webkit-transform: translate(-2300px, -2300px) scale(-2);
    transform: translate(-2300px, -2300px) scale(-2); }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }
.container__left {
  -webkit-animation: slide-left 0.5s linear both;
  animation: slide-left 0.5s linear both; }

@keyframes slide-left {
  100% {
    -webkit-transform: translate(175%);
    transform: translate(175%); } }
.container__previous {
  -webkit-animation: previousContainer 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: previousContainer 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes previousContainer {
  0% {
    -webkit-transform: translate(175%);
    transform: translate(175%); }
  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%); } }
.main {
  width: 600px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  z-index: 200; }

.profile {
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  .profile__up {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 23px; }
  .profile__triangleup {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
    .profile__triangleup .redTriangle {
      width: 26px;
      height: 26px;
      -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background: #fe6402;
      border: 1px solid red;
      margin-left: 59px;
      margin-top: 28px; }
      .profile__triangleup .redTriangle .fa-arrow-left {
        color: #fff;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 0.8em; }
      .profile__triangleup .redTriangle:hover .fa-arrow-left {
        animation: blink .4s infinite ease; }
  .profile__rightblockup {
    height: 100%;
    width: 82%;
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .profile__rightblockup .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      margin-bottom: 5px;
      align-self: center;
      position: relative; }
      .profile__rightblockup .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 0;
        border-color: rgba(36, 127, 224, 0.5) transparent transparent transparent; }
      .profile__rightblockup .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent rgba(36, 127, 224, 0.5) transparent transparent; }
    .profile__rightblockup .upbackground {
      width: 98%;
      height: 75%;
      background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.5) 100%);
      border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .profile__rightblockup .upbackground .buttonback {
        font-family: Exo;
        font-size: 0.8em;
        color: #fff;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.5);
        width: 30px;
        padding: 9px 6px 9px 6px;
        overflow: hidden;
        white-space: nowrap; }
        .profile__rightblockup .upbackground .buttonback div {
          display: inline-block;
          margin-right: 5px; }
        .profile__rightblockup .upbackground .buttonback:hover div {
          animation: moveLeft 0.3s linear; }
      .profile__rightblockup .upbackground .header {
        font-family: Exo;
        font-size: 1.4em;
        color: #fff;
        text-transform: uppercase;
        padding: 9px 6px 9px 6px;
        letter-spacing: 2px;
        position: relative; }
        .profile__rightblockup .upbackground .header:before {
          position: absolute;
          top: 0;
          left: -90%;
          width: 90%;
          height: 100%;
          content: "";
          background: url("../assets/images/fire2.png");
          background-size: cover; }
  .profile__info {
    box-sizing: border-box;
    width: 104%;
    height: 280px;
    background: rgba(95, 127, 138, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    -webkit-clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0); }
  .profile__down {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 5px; }
  .profile__triangledown {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
  .profile__rightblockdown {
    height: 100%;
    width: 82%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    background-image: url("../assets/images/linesbackground.png");
    margin-right: 23px;
    background-repeat: repeat;
    display: flex;
    justify-content: center; }
    .profile__rightblockdown .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      align-self: flex-end;
      position: relative; }
      .profile__rightblockdown .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 0 8px;
        border-color: transparent transparent transparent rgba(36, 127, 224, 0.5); }
      .profile__rightblockdown .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 0 8px 8px;
        border-color: transparent transparent rgba(36, 127, 224, 0.5) transparent; }

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-40px); } }
.portfolio {
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  .portfolio__up {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 23px; }
  .portfolio__triangleup {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
    .portfolio__triangleup .redTriangle {
      width: 26px;
      height: 26px;
      -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background: #fe6402;
      border: 1px solid red;
      margin-left: 59px;
      margin-top: 28px; }
      .portfolio__triangleup .redTriangle .fa-arrow-left {
        color: #fff;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 0.8em; }
      .portfolio__triangleup .redTriangle:hover .fa-arrow-left {
        animation: blink .4s infinite ease; }
  .portfolio__rightblockup {
    height: 100%;
    width: 82%;
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .portfolio__rightblockup .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      margin-bottom: 5px;
      align-self: center;
      position: relative; }
      .portfolio__rightblockup .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 0;
        border-color: rgba(36, 127, 224, 0.5) transparent transparent transparent; }
      .portfolio__rightblockup .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent rgba(36, 127, 224, 0.5) transparent transparent; }
    .portfolio__rightblockup .upbackground {
      width: 98%;
      height: 75%;
      background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.5) 100%);
      border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .portfolio__rightblockup .upbackground .buttonback {
        font-family: Exo;
        font-size: 0.8em;
        color: #fff;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.5);
        width: 30px;
        padding: 9px 6px 9px 6px;
        overflow: hidden;
        white-space: nowrap; }
        .portfolio__rightblockup .upbackground .buttonback div {
          display: inline-block;
          margin-right: 5px; }
        .portfolio__rightblockup .upbackground .buttonback:hover div {
          animation: moveLeft 0.3s linear; }
      .portfolio__rightblockup .upbackground .header {
        font-family: Exo;
        font-size: 1.4em;
        color: #fff;
        text-transform: uppercase;
        padding: 9px 6px 9px 6px;
        letter-spacing: 2px;
        position: relative; }
        .portfolio__rightblockup .upbackground .header:before {
          position: absolute;
          top: 0;
          left: -90%;
          width: 90%;
          height: 100%;
          content: "";
          background: url("../assets/images/fire2.png");
          background-size: cover; }
  .portfolio__info {
    box-sizing: border-box;
    width: 104%;
    height: 280px;
    background: rgba(95, 127, 138, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    -webkit-clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0); }
  .portfolio__down {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 5px; }
  .portfolio__triangledown {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
  .portfolio__rightblockdown {
    height: 100%;
    width: 82%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    background-image: url("../assets/images/linesbackground.png");
    margin-right: 23px;
    background-repeat: repeat;
    display: flex;
    justify-content: center; }
    .portfolio__rightblockdown .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      align-self: flex-end;
      position: relative; }
      .portfolio__rightblockdown .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 0 8px;
        border-color: transparent transparent transparent rgba(36, 127, 224, 0.5); }
      .portfolio__rightblockdown .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 0 8px 8px;
        border-color: transparent transparent rgba(36, 127, 224, 0.5) transparent; }

.contacts {
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  .contacts__up {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 23px; }
  .contacts__triangleup {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
    .contacts__triangleup .redTriangle {
      width: 26px;
      height: 26px;
      -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background: #fe6402;
      border: 1px solid red;
      margin-left: 59px;
      margin-top: 28px; }
      .contacts__triangleup .redTriangle .fa-arrow-left {
        color: #fff;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 0.8em; }
      .contacts__triangleup .redTriangle:hover .fa-arrow-left {
        animation: blink .4s infinite ease; }
  .contacts__rightblockup {
    height: 100%;
    width: 82%;
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .contacts__rightblockup .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      margin-bottom: 5px;
      align-self: center;
      position: relative; }
      .contacts__rightblockup .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 0;
        border-color: rgba(36, 127, 224, 0.5) transparent transparent transparent; }
      .contacts__rightblockup .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent rgba(36, 127, 224, 0.5) transparent transparent; }
    .contacts__rightblockup .upbackground {
      width: 98%;
      height: 75%;
      background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.5) 100%);
      border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .contacts__rightblockup .upbackground .buttonback {
        font-family: Exo;
        font-size: 0.8em;
        color: #fff;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.5);
        width: 30px;
        padding: 9px 6px 9px 6px;
        overflow: hidden;
        white-space: nowrap; }
        .contacts__rightblockup .upbackground .buttonback div {
          display: inline-block;
          margin-right: 5px; }
        .contacts__rightblockup .upbackground .buttonback:hover div {
          animation: moveLeft 0.3s linear; }
      .contacts__rightblockup .upbackground .header {
        font-family: Exo;
        font-size: 1.4em;
        color: #fff;
        text-transform: uppercase;
        padding: 9px 6px 9px 6px;
        letter-spacing: 2px;
        position: relative; }
        .contacts__rightblockup .upbackground .header:before {
          position: absolute;
          top: 0;
          left: -90%;
          width: 90%;
          height: 100%;
          content: "";
          background: url("../assets/images/fire2.png");
          background-size: cover; }
  .contacts__info {
    box-sizing: border-box;
    width: 104%;
    height: 280px;
    background: rgba(95, 127, 138, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    -webkit-clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 92% 0%, 100% 18%, 100% 82%, 92% 100%, 0 100%, 0 100%, 0 0); }
  .contacts__down {
    width: 90%;
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 5px; }
  .contacts__triangledown {
    height: 100%;
    width: 18%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-image: url("../assets/images/linesbackground.png");
    background-repeat: repeat; }
  .contacts__rightblockdown {
    height: 100%;
    width: 82%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 100%, 0 0);
    background-image: url("../assets/images/linesbackground.png");
    margin-right: 23px;
    background-repeat: repeat;
    display: flex;
    justify-content: center; }
    .contacts__rightblockdown .trapezium {
      width: 40%;
      height: 10%;
      background: rgba(36, 127, 224, 0.5);
      align-self: flex-end;
      position: relative; }
      .contacts__rightblockdown .trapezium:after {
        position: absolute;
        top: 0;
        right: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 0 8px;
        border-color: transparent transparent transparent rgba(36, 127, 224, 0.5); }
      .contacts__rightblockdown .trapezium:before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 0 0 8px 8px;
        border-color: transparent transparent rgba(36, 127, 224, 0.5) transparent; }

#spaceship {
  width: 600px;
  height: 400px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  margin-left: -300px;
  z-index: 300; }

.spaceship__back {
  -webkit-animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide {
  0% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
    transform: translate(0%, 0%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-65%, -65%) rotate(90deg);
    transform: translate(-65%, -65%) rotate(90deg); } }
.spaceship__previous {
  -webkit-animation: previous 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: previous 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes previous {
  100% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
    transform: translate(0%, 0%) rotate(0deg); }
  0% {
    -webkit-transform: translate(-65%, -65%) rotate(90deg);
    transform: translate(-65%, -65%) rotate(90deg); } }
.spaceship__appearance {
  -webkit-animation: scale 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes scale {
  0% {
    -webkit-transform: translate(-2300px, -2300px) scale(-2);
    transform: translate(-2300px, -2300px) scale(-2); }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }

/*# sourceMappingURL=style.css.map */
