@font-face {
  font-family: "Exo";
  src: url("../assets/fonts/exo.woff2") format("woff2"),
      url("../assets/fonts/exo.woff") format("woff");
}
$arrows: #5c8dae;

body {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/clouds.jpg") no-repeat top ;
  position: relative;
  font-size: 16px;
}

// PRELOADER

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 9999;

  &__eva {
    align-self: center;
    width: 256px;
    height: 256px;
    background: url("../assets/images/evaPreload.png");
    position: relative;

  }
  &__leaves {
    width: 30px;
    height: 30px;
    background: url("../assets/images/small.png") no-repeat;
    position: absolute;
    border-radius: 50%;
    top: 45%;
    left: 50%;
    opacity: 0;
    transition: 1s;
  }
  .shadowLeaves {
    transition: 1s;
    opacity: 1;
    -webkit-box-shadow: 0px -1px 62px 12px rgba(29,194,67,1);
    -moz-box-shadow: 0px -1px 62px 12px rgba(29,194,67,1);
    box-shadow: 0px -1px 62px 12px rgba(29,194,67,1);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// MENU BLOCKS

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin-top: -100px;

  &__lines {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px,
                      rgba(255, 255, 255,.2) 3px, rgba(255, 255, 255,.2) 6px);
    width: 200px;
    height: 100px;
  }
  &__border {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 10px solid transparent;
    border-image: url('../assets/images/border.png') 38% repeat;

  }
  &__link {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255,255,255, 0.5);

    .text {
      padding: 10px;
      font-family: Exo;
      font-size: 1em;
      color: #fff;
      text-transform: uppercase;
    }
    .arrow {
      padding: 10px;
      background: rgba(255,255,255, 0.8);

      .fa-arrow-left {
        color: $arrows;
      }
      .fa-arrow-right {
        color: $arrows;
      }
    }
  }
  &__link:first-child {
    margin-bottom: 5px;
  }
}


// OBJECT BLOCK

#container {
  width: 300px;
  height: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/*
 #container {
      -webkit-animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
      }
      100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
    }
    @keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
      }
    }
 */